html {
    width: 100vw;
    height: 100vh;
  }
  body {
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612276144_116-p-kosmicheskii-fon-fioletovii-166.jpg);
  }
  